/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	    #logo {
		font-size: 21px;
		margin-bottom: 15px; }
	    nav .button {
		padding: 9px 20px 11px; }
        }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	    nav {
		width: 160px; }
	    .sidebar h2 {
		font-size: 18px;
	    }

	    .sidebar ul {
		font-size: 14px;
	    }
        }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
            header h1 { font-size: 34px; line-height: 37px; }
            nav { position: relative; }
            nav ul,
            #logo { text-align: left; }
            .sidebar {
          	display: none!important;
            }
            .content {
          	border: 0px!important;
          	padding-left: 0px!important;
            }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
       	    .sidebar {
      		display: none!important;
            }

            h1 {
          	font-size: 28px;
          	line-height: 36px;
            }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
            .sidebar {
          	display: none!important;
            }

            h1 {
          	font-size: 24px;
          	line-height: 32px;
            }

            h2 {
          	font-size: 22px;
          	line-height: 24px;
            }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
