## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="post_helper" file="post_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    ## FIXME: 3? make it configurable
    % for post in posts[:3]:
        ${post_helper.post_full(post, False, index_teasers)}
        <hr>
    % endfor

    % if len(posts[3:]):
        <h2> ${messages("Archive")} </h2>
    % endif

    <div id="home">
        <ul id="blog-posts" class="posts">
            % for post in posts[3:]:
                ${post_helper.post_listing(post)}
            % endfor
        </ul>
    </div>

    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${helper.mathjax_script(posts)}
</%block>
