## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${base.html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>
    <div class="container">
        <div class="four columns sidebar">
            <nav>
            <!--Sidebar content-->

            <h1 id="blog-title">
                <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
            </h1>
            <hr>
            <%block name="belowtitle">
                <p> ${description}</p>
                %if len(translations) > 1:
                <small>
                    ${(messages("Also available in"))}:&nbsp;
                    ${base.html_translations()}
                </small>
                %endif
            </%block>
            <hr>
            <div id="social">
            ${base.html_social()}
            </div>
            <ul>${base.html_navigation_links()}</ul>
            <hr>
            ${search_form}
            </nav>
        </div>
        <div class="twelve columns content">
            <div class="main">
                <%block name="content"></%block>
                <div class="footer">
                    <small>${content_footer}</small>
                </div>
            </div>
        </div>
    </div>
    ${base.late_load_js()}
    ${social_buttons_code}
    <%block name="extra_js"></%block>
    ${body_end}
</body>
