## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="post_helper" file="post_helper.tmpl"/>
<%block name="content">
        <!--Body content-->
        <div class="postbox">
        <h1>${title}</h1>
        <ul class="unstyled">
        % for post in posts:
            ${post_helper.post_listing(post)}
        % endfor
        </ul>
        </div>
        <!--End of body content-->
</%block>
